{% extends 'base.html' %} {% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if img_obj %}

<h3>Succesfully uploaded : {{img_obj.name}}</h3>
<img src="{{ img_obj.orig_img_url.url}}" alt="connect" style="max-height: 300px" />

<script async="false" type="module">
  const delay = 1000; /*ms*/
  const contentEl = document.querySelector("#imgUrl");
  let timer = null;

  function updateContent() {
    fetch("/get-compressed?pk={{img_obj.id}}", {
      method: "GET",
      headers: {
        Accept: "Application/json",
      },
    })
      .then((res) => {
        return res.json();
      })
      .then(function (data) {
        const url = data.url;
        contentEl.innerText = url;
      })
      .catch((err) => console.log(err));
  }

  setInterval( updateContent , delay);
</script>

{% endif %}

<p>Compressed Image Stored At :</p>
<h3 id="imgUrl"></h3>

{% endblock content %}
